<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Услуги со скидкой (специальная цена)</h1>
<ul>
  {% for ms in services %}
    <li>
      {{ ms.service.name }} — обычная цена: {{ ms.service.price }} руб.,
      спец. цена: {{ ms.special_price }} руб.
      (мастер: {{ ms.master.first_name }} {{ ms.master.last_name }})
    </li>
  {% empty %}
    <li>Нет услуг со специальной ценой.</li>
  {% endfor %}
</ul>
</body>
</html>